<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<!-- display user google pfp, user fav chars array, and all users created teams -->
<body>
  
</body>

<%- include('./partials/footer') %>