<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<!-- Add view to edit team accessed from user profile page. -->

<!-- Main view concept: view shows form that has team name and character inputs prefilled in a text input and dropdown menu's. user can submit the form via a button and is redirected back to the user profile page with the updated information.-->

<main>
  <h1>hi</h1>
  <h1>Edit Team</h1>

</main>
  <%- include('../partials/footer') %>