<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<!-- Add view to create team. displays form with: 
  one text input
  four dropdown inputs
  one submit button with the form sending a post request to our profile teams section -->

  <body>
    <h1>hey heres tht view u wanted to see</h1>
  </body>

  <%- include('../partials/footer') %>