<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Teams</h1>
<ul>
  <% teams.forEach(team => {  %>
    <li><%= team.name %></li>
  <% }) %>
</ul>

<%- include('../partials/footer') %>