<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<% if (user && user.admin) { %>
  <form action="new-abyss" method="POST">
    <label for="title">Title:</label>
    <input type="text" name="title" required>

    <label for="startDate">Start Date:</label>
    <input type="date" name="startDate" required>

    <label for="endDate">End Date:</label>
    <input type="date" name="endDate" required>

    <label for="content">Content:</label>
    <textarea name="content" required></textarea>

    <!-- Add enemies -->
    <div id="enemies-container">
      <div class="enemy">
        <select name="enemies[]" required>
          <option value="" disabled selected>Select Enemy</option>
        </select>
        <input type="number" name="levels[]" min="60" max="120" step="10" value="60" required>
        <button type="button" class="remove-enemy">Remove</button>
      </div>
    </div>
    <button type="button" id="add-enemy">Add Enemy</button>

    <button type="submit">Create Abyss</button>
  </form>
<% } %>

<%- include('../partials/footer') %>