html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  text-align: center;
  background-color: #1f1738;
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

nav button{
  margin-left: 40px;
}

nav {
  justify-content: space-between;
  background-color: #37486d;
  color: #000000;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

button {
  color: #ffd92f;
  background-color: #292D3E;
  border: 1px solid #ffd92f;
  border-radius: 4px;
  padding: 0 15px;
  cursor: pointer;
  height: 32px;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  box-shadow: 1px 1px #ffd92f, 2px 2px #ffd92f, 3px 3px #ffd92f;
  transform: translateX(-3px);
}

main {
  text-decoration: wavy;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.character-grid > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

div.character-card-container {
  border: 2px solid #f6f6f6;
  border-radius: 8px;
  width: 300px;
  height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

div.character-name-container {
  align-items: center;
  flex-direction: column;
}

.character-card {
  width: 300px;
  height: 400px;
  margin: 10px;
}

.character-card > a {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style-type: none;
}

a{
  color: rgb(248, 157, 71);
}

.character-card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.character-name {
  text-align: center;
  margin-top: auto;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

input[type="text"], select {
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f6f6f6;
  background-color: #1f1738;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.form-background{
  background-color: rgb(16, 16, 16);
  padding: .375rem .75rem;
  border: 5px solid rgb(71, 1, 71);
}