<!-- Add view for all characters ingame show. Admin (myself) updates the array with new characters as hoyoverse releases them.-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section>
    <h1>Characters</h1>
    <% if (user) { %>
      <h2>Add a Character!</h2>
      <form action="/characters" method="POST">
        <label>
          Name:
          <input type="text" name="name" autocomplete="off">
        </label>

        <button type="submit">Add Character</button>
      </form>
    <% } %>
    <h2>All the Characters!</h2>
    <ul>
      <% characters.forEach(char => { %>
        <li>
          🧑
          <a href="/characters/<%= char._id %>"><%= char.name %></a>
        </li>
      <% }) %>
    </ul>
  </section>
  
</body>
</html>